.reviewsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
}

.reviewsContainer:not(:last-child) {
  margin-bottom: 10px;
}

.reviewsContainer > li:first-child {
  font-weight: 700;
}
.reviewsContainer > li:first-child {
  list-style: disc;
}
